<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.weefbellington.screenplay.sample.simple">
    <application
        android:name="com.davidstemmer.screenplay.sample.simple.SampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.davidstemmer.screenplay.sample.simple.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
